<template>
  <tr class="track-row" v-on:click="playTrack()" v-bind:class="{'track-row-selected': isSelected }">
    <th scope="row">{{ track.number }} </th>
    <td>{{ track.title }}</td>
    <td>{{ Util.formatTime(track.durationSeconds) }}</td>
  </tr>
</template>

<script lang="ts">
import Vue from 'vue';
import { Util } from '@/util';
import { ITrack } from '@/models';

export default Vue.extend({
  name: 'TrackRow',
  props: {
    track:  Object as () => ITrack,
  },
  data() {
    return {
      Util,
    };
  },
  methods: {
    playTrack() {
      this.$store.commit('play_queue/CLEAR_QUEUE');
      this.$store.commit('player/SET_CURRENT_TRACK', this.track);
      this.$store.commit('player/PLAY_TRACK');
    },
  },
  computed: {
    isSelected(): boolean {
      if (this.$store.state.player.currentTrack) {
        return this.$store.state.player.currentTrack.id === this.track.id;
      }
      return false;
    },
  },
});
</script>

<style lang="scss">
.track-row:hover {
  background: rebeccapurple !important;
  color: white !important;
  cursor: pointer;
}
.track-row-selected {
  background: rebeccapurple !important;
  color: white !important;
}
.track-row {
  color: #c9d0da;
  font-family: "Biotif Medium", sans-serif;
}
.table td, .table th {
    border-top: none !important;
}
</style>