<template>
  <table class="table table-hover">
    <thead>
      <tr class="track-header">
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">
          <font-awesome-icon icon="clock" />
        </th>
      </tr>
    </thead>
    <tbody>
      <TrackRow v-for="track in tracks" :key="track.id" :track="track" />
    </tbody>
  </table>
</template>

<script lang="ts">
import Vue from 'vue';
import { Util } from '@/util';
import { ITrack } from '@/models';
import TrackRow from '@/components/tables/TrackRow.vue';

export default Vue.extend({
  name: 'TrackTable',
  components: {
    TrackRow,
  },
  props: {
    tracks: Array,
  },
});
</script>

<style lang="scss">
.track-header {
  color: #c9d0da !important;
  font-family: "Biotif Medium", sans-serif;
}
</style>