<template>
  <div class="d-flex flex-column" style="height: 100vh;">
    <div class="d-flex" id="wrapper" v-bind:class="{'toggled': isSidebarToggled}">
      <Sidebar />
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <Navbar/>
        <div class="mesgs">
          <div class="main-view-container">
            <router-view></router-view>
          </div>
        </div>
      </div>
    </div>
    <div class="player-container">
      <Player />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Player from '@/components/Player.vue';
import Sidebar from '@/components/Sidebar.vue';
import Navbar from '@/components/Navbar.vue';


export default Vue.extend({
  name: 'Home',
  components: {
    Player,
    Sidebar,
    Navbar,
  },
  computed: {
    isSidebarToggled(): boolean {
      return this.$store.state.home.isSidebarToggled;
    },
  },
});
</script>
<style lang="scss">
body {
  overflow-x: hidden;
}

#page-content-wrapper {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}

.link-disabled {
  pointer-events: none;
  cursor: default;
}

.mesgs {
  border: none;
  flex-grow: 1;
  height: calc(100% - 53px);
  width: 100%;
}

.main-view-container {
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
  background: #2b1f64;
}

.player-container {
  position: relative;
  height: 60px;
  background: rgba(235, 235, 235, 1);
}
#wrapper {
  height: calc(100% - 60px);
}

.search-button:hover {
  background:#ea5791 !important;
}
</style>