<template>
  <div class="container router-view-container">
    <div class="card">
      <div class="card-body">
        <h5 style="color: #212529;" class="card-title pb-2">Sign Up</h5>
        <form v-on:submit.prevent="submitSignup">
          <div class="form-group">
            <label for="email">Name</label>
            <input
              v-model="name"
              v-bind:class="{ 'is-invalid': form_errors.name.length !== 0 }"
              type="text"
              class="form-control"
              id="name"
              placeholder="Name"
              required
            >
            <div
              v-for="(name_error, index) in form_errors.name"
              v-bind:key="index"
              class="invalid-feedback"
            >{{name_error}}</div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              v-model="email"
              v-bind:class="{ 'is-invalid': form_errors.email.length !== 0 }"
              type="email"
              class="form-control"
              id="email"
              placeholder="Email"
              required
            >
            <div
              v-for="(email_error, index) in form_errors.email"
              v-bind:key="index"
              class="invalid-feedback"
            >{{email_error}}</div>
          </div>
          <div class="form-group">
            <label for="password_1">Password</label>
            <input
              v-model="password_1"
              v-bind:class="{ 'is-invalid': form_errors.password.length !== 0 }"
              type="password"
              class="form-control"
              id="password_1"
              placeholder="Password"
              required
            >
            <div
              v-for="(password_error, index) in form_errors.password"
              v-bind:key="index"
              class="invalid-feedback"
            >{{password_error}}</div>
          </div>
          <div class="form-group">
            <label for="betacode">Beta Code</label>
            <input
              v-model="betacode"
              v-bind:class="{ 'is-invalid': form_errors.betacode.length !== 0 }"
              type="text"
              class="form-control"
              id="betacode"
              placeholder="Beta Code"
              required
            >
            <div
              v-for="(betacode_error, index) in form_errors.betacode"
              v-bind:key="index"
              class="invalid-feedback"
            >{{betacode_error}}</div>
          </div>
          <div class="form-group">
            <button id="signup_button" type="submit" class="btn btn-primary btn-block">Sign up</button>
          </div>
          <div class="form-group pt-2">
            <div class="text-center">
              Already have an account?
              <router-link :to="{name: ROUTE_LOGIN}">Log in</router-link>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { ROUTE_LOGIN, ROUTE_DASHBOARD } from '@/router';

export default {
  name: 'signup',
  data() {
    return {
      name: '',
      email: '',
      password_1: '',
      betacode: '',
      form_errors: {
        name: [],
        email: [],
        password: [],
        betacode: [],
      },
      ROUTE_LOGIN,
    };
  },
  methods: {
    submitSignup() {
      // Reset errors forms
      this.form_errors = {
        name: [],
        email: [],
        password: [],
        betacode: [],
      };

      const payload = {
        name: this.name,
        email: this.email,
        password: this.password_1,
        betaCode: this.betacode,
      };

      const request = this.$store.dispatch('accounts/SIGNUP', payload);

      const handleFailedRequest = (failedRequest) => {
        const response = failedRequest.response.data;
        if (response.errors.Email) {
          this.form_errors.email = response.errors.Email;
        }
        if (response.errors.Name) {
          this.form_errors.name = response.errors.Name;
        }
        if (response.errors.Password) {
          this.form_errors.password = response.errors.Password;
        }
        if (response.errors.BetaCode) {
          this.form_errors.betacode = response.errors.BetaCode;
        }
      };

      request
        .then(() => {
          const loginPayload = {
            email: this.email,
            password: this.password_1,
          };

          const loginRequest = this.$store.dispatch(
            'accounts/LOGIN',
            loginPayload,
          );

          loginRequest.then(() => {
            this.$router.push({ name: ROUTE_DASHBOARD });
          });
        })
        .catch(handleFailedRequest);
    },
  },
};
</script>


<style scoped>
.router-view-container {
  margin-top: 60px;
}
</style>
