<template>
  <div class="cards-container">
    <AlbumCard v-for="album in albums" :key="album.id" :album="album" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Util } from '@/util';
import { ITrack } from '@/models';
import AlbumCard from '@/components/AlbumCard.vue';

export default Vue.extend({
  name: 'AlbumCardList',
  components: {
     AlbumCard,
  },
  props: {
    albums: Array,
  },
});
</script>

<style lang="scss">
.cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 1rem;
}

@media (max-width: 768px) {
  .cards-container{
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr)) !important; 
  }
}
</style>