<template>
  <div class="card-container">
    <div style="max-width: 190px;">
      <div class="image-container">
        <div class="tag" v-bind:class="{'tag-visible-on-selected': isAlbumSelected}">
          <button
            class="plyr__controls__item plyr__control play-btn"
            v-bind:class="{'plyr__control--pressed': playerState === PlayerState.Playing}"
            type="button"
            data-plyr="play"
            aria-label="Play"
            v-on:click="clickPlayButton($event)"
          >
            <font-awesome-icon v-if="isAlbumSelected && playerState === PlayerState.Playing" icon="pause" style="color: white; width: 30px; height: auto;"/>
            <font-awesome-icon v-if="isAlbumSelected && playerState === PlayerState.Pause" icon="play" style="color: white; width: 30px; height: auto;"/>
            <font-awesome-icon v-if="!isAlbumSelected" icon="play" style="color: white; width: 30px; height: auto;"/>
          </button>
        </div>
        <img :src="getImgUrl()" ref="imageField" class="cover-img" />
      </div>
      <router-link
        :to="{ name: ROUTE_ALBUM_DETAIL, params: { albumId : this.album.id.toString() }}"
        class="snippet-text"
      >{{album.title}}</router-link>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { ROUTE_ALBUM_DETAIL } from '@/router';
import { Util } from '@/util';
import { IAlbumBase, IAlbumDetail, PlayerState } from '@/models';
import { general } from '@/api';


export default Vue.extend({
  name: 'AlbumCard',
  props: {
    album: Object as () => IAlbumBase,
  },
  data() {
    return {
      Util,
      PlayerState,
      ROUTE_ALBUM_DETAIL,
    };
  },
  methods: {
    clickPlayButton(event: any) {
      if (event) {
        event.stopPropagation();
      }

      if (this.isAlbumSelected) {
        if (this.playerState === PlayerState.Playing) {
          this.$store.commit('player/PAUSE_TRACK');
        } else if (this.playerState === PlayerState.Pause) {
          this.$store.commit('player/RESUME_PLAY_TRACK');
        } else {
          this.$store.commit('player/PLAY_TRACK');
        }
      } else {
        general.getAlbum(this.album.id).then((album: IAlbumDetail) => {
          this.$store.commit('play_queue/CLEAR_QUEUE');
          this.$store.commit('play_queue/SET_TRACK_QUEUE',  album.tracks);
          this.$store.dispatch('player/PLAY_NEXT_TRACK');
        });
      }
    },
    getImgUrl() {
      return this.album.mediaUrl
        ? this.album.mediaUrl
        : this.getDefaultImgUrl();
    },
    getDefaultImgUrl() {
      return require('../assets/icons/compact-disc.svg');
    },
  },
  computed: {
    playerState(): PlayerState {
      return this.$store.state.player.playerState;
    },
    isAlbumSelected(): boolean {
      if (
        this.$store.state.player.currentTrack &&
        this.$store.state.player.currentTrack.album
      ) {
        return this.$store.state.player.currentTrack.album.id === this.album.id;
      }
      return false;
    },
  },
});
</script>

<style lang="scss">
.snippet-text {
  color: rgba(255, 255, 255, 1) !important;
  font-family: "Coolvetica Regular", sans-serif;
  font-size: 1.1em;
}

.card-container {
  padding-bottom: 10px;
  text-align: center;
}

.image-container {
  height: calc(100vw * 0.4);
  max-height: 190px;
  position: relative;
}

@media (max-width: 768px) {
  .image-container {
    height: calc(100vw * 0.7) !important;
    max-height: 150px !important;
  }
}

.cover-img {
  height: 100%;
  max-width: 190px;
  object-fit: cover;
}

.tag {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  height: 100%;
  width: 100%;
  background-color: #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container .tag{
  visibility: hidden;
}

.image-container:hover .tag{
  visibility: visible !important;
}

.image-container .tag-visible-on-selected{
  visibility: visible !important;
}

.play-btn {
  height: 52px; 
  width: 52px; 
  padding: 1px 6px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.play-btn:hover {
  border: 2px solid white; 
  border-radius: 3px;
}
</style>