<template>
  <div class="card-container">
    <div style="max-width: 190px;">
      <div class="image-container">
        <div class="tag">
          <button
            class="plyr__controls__item plyr__control play-btn"
            v-bind:class="{'plyr__control--pressed': playerState === PlayerState.Playing}"
            type="button"
            data-plyr="play"
            aria-label="Play"
            v-on:click="clickPlayButton($event)"
          >
            <font-awesome-icon icon="play" style="color: white; width: 30px; height: auto;"/>
          </button>
        </div>
        <img :src="getImgUrl()" ref="imageField" class="cover-img" />
      </div>
      <div style="width: 100%;">
      <router-link
        :to="{ name: ROUTE_GENRE_DETAIL, params: { genreId : this.genre.id.toString() }}"
        class="snippet-text"
      >{{ genre.name }}</router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { ROUTE_GENRE_DETAIL } from '@/router';
import { Util } from '@/util';
import { IGenreWithAlbumsAndArtistsCounts, PlayerState, ITrack } from '@/models';
import { general } from '@/api';

export default Vue.extend({
  name: 'GenreCard',
  props: {
    genre: Object as () => IGenreWithAlbumsAndArtistsCounts,
  },
  data() {
    return {
      Util,
      PlayerState,
      ROUTE_GENRE_DETAIL,
    };
  },
  methods: {
    clickPlayButton(event: any) {
      if (event) {
        event.stopPropagation();
      }
      general.getTracksByGenreId(this.genre.id).then((tracks: ITrack[]) => {
        this.$store.commit('play_queue/CLEAR_QUEUE');
        this.$store.commit('play_queue/SET_TRACK_QUEUE',  tracks);
        this.$store.dispatch('player/PLAY_NEXT_TRACK');
      });
    },
    getImgUrl() {
      return this.getDefaultImgUrl();
    },
    getDefaultImgUrl() {
      return require('../assets/icons/compact-disc.svg');
    },
  },
  computed: {
    playerState(): PlayerState {
      return this.$store.state.player.playerState;
    },
  },
});
</script>

<style lang="scss">
.snippet-text {
  color: rgba(255, 255, 255, 1) !important;
  font-family: "Coolvetica Regular", sans-serif;
  font-size: 1.1em;
}

.card-container {
  padding-bottom: 10px;
  text-align: center;
}

.image-container {
  height: calc(100vw * 0.4);
  max-height: 190px;
  position: relative;
}

@media (max-width: 768px) {
  .image-container {
    height: calc(100vw * 0.7) !important;
    max-height: 150px !important;
  }
}

.cover-img {
  height: 100%;
  max-width: 190px;
  object-fit: cover;
}
.tag2 {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  height: 100%;
  width: 100%;
  background-color: #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  height: 100%;
  width: 100%;
  background-color: #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container .tag{
  visibility: hidden;
}

.image-container:hover .tag{
  visibility: visible !important;
}

.image-container .tag-visible-on-selected{
  visibility: visible !important;
}

.play-btn {
  height: 52px; 
  width: 52px; 
  padding: 1px 6px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.play-btn:hover {
  border: 2px solid white; 
  border-radius: 3px;
}
</style>