<template>
  <nav class="navbar navbar-expand-lg d-flex justify-content-between" style="background: #1e1c4b;">
    <button class="plyr__controls__item plyr__control" v-on:click="toggleSidebar()" id="menu-toggle">          
      <font-awesome-icon icon="bars" style="color: white;" />
    </button>
    <div>
      <button class="btn user-btn" style="height: 32px; width: 32px; padding: 0px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <font-awesome-icon icon="user-circle" style="color: white; width: 24px;" />
      </button>
      <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="margin-right: 15px;">
        <button v-on:click="logoutClickButton" class="dropdown-item">Logout</button>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Navbar',
  computed: {
    isSidebarToggled(): boolean {
      return this.$store.state.home.isSidebarToggled;
    },
  },
  methods: {
    toggleSidebar() {
      this.$store.commit('home/TOGGLE_SIDEBAR');
    },
    logoutClickButton() {
      this.$store.dispatch('accounts/LOGOUT');
    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

.user-btn:hover {
  background:rgba(255, 255, 255, 0.1);
}

.user-btn:focus {
   outline: none !important;
   box-shadow: none;
}

#menu-toggle {
  background: rgba(255, 255, 255, 0.1);
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  #menu-toggle {
    visibility: hidden !important;
  }
}

.plyr__control:hover {
  background:#ea5791 !important;
  color:#fff
}
</style>
