<template>
  <div class="d-flex player-container">
    <div class="d-flex" v-bind:style="{'visibility': isCurrentTrackNull ? 'hidden' : 'visible' }">
      <div class="img-container">
        <img :src="getImgUrl()" ref="imageField" class="player-img-cover" />
      </div>
      <div style="width: 180px; padding: 9px; padding-left: 0px;">
        <router-link
          :to="{ name: ROUTE_ALBUM_DETAIL, params: { albumId : getAlbumId() }}"
          class="title-text"
        >{{ trackTitle }}</router-link>
        <div class="d-flex">
          <div style="min-width: 0;" class="d-flex" v-for="(artist, index) in trackArtists" :key="artist.id">
            <router-link 
              :to="{ name: ROUTE_ARTIST_DETAIL, params: { artistId: artist.id.toString()}}"
              class="artist-text"
            >{{artist.name}}
            </router-link>
            <span v-if="index + 1 < trackArtists.length">, </span>
          </div>
        </div>
      </div>
    </div>
    <div
      tabindex="0"
      class="plyr plyr--full-ui plyr--audio plyr--html5 plyr--paused plyr--stopped plyr__tab-focus"
    >
      <div class="plyr__controls">
        <div class="plyr__controls__item" style="display: none;"> 
          <button
            class="plyr__control"
            type="button"
            v-on:click="pushPreviousTrackPlayButton()"
          >
            <font-awesome-icon icon="step-backward" style="color: white;" />
          </button>
        </div>
        <button
          class="plyr__controls__item plyr__control"
          v-on:click="pushPlayButton()"
          v-bind:class="{'plyr__control--pressed': playerState === PlayerState.Playing}"
          type="button"
          data-plyr="play"
          aria-label="Play"
          v-bind:disabled="isCurrentTrackNull"
          style="height: 32px; width: 32px; padding: 1px 6px; display: flex; justify-content: center; align-items: center;"
        >
          <img class="icon--pressed" style="width: 100%; height: auto;" alt="Pause" src="../assets/icons/pause.svg" />
          <img class="icon--not-pressed" style="width: 100%; height: auto;" alt="Play" src="../assets/icons/play.svg" />
        </button>
        <div class="plyr__controls__item">
          <button
            class="plyr__control"
            type="button"
            v-on:click="pushNextTrackPlayButton()"
          >
            <font-awesome-icon icon="step-forward" style="color: white;" />
          </button>
        </div>

        <div class="plyr__controls__item plyr__progress__container hide-on-mobile">
          <div class="plyr__progress">
            <input
              v-bind:value="progressValue"
              v-on:input="seek($event)"
              data-plyr="seek"
              type="range"
              min="0"
              max="100"
              step="0.01"
              autocomplete="off"
              role="slider"
              aria-label="Seek"
              aria-valuemin="0"
              aria-valuemax="183.666956"
              aria-valuenow="0"
              id="plyr-seek-5338"
              aria-valuetext="00:00 of 00:00"
              seek-value="-1.9138755980861244"
              v-bind:style="{'--value': progressValue + '%' }"
            />
            <!--
                <progress class="plyr__progress__buffer" min="0" max="100" value="48.0195250799496" role="progressbar" aria-hidden="true">% buffered</progress>
                <span class="plyr__tooltip">00:00</span>
            -->
          </div>
        </div>
        <div
          class="plyr__controls__item plyr__time--current plyr__time hide-on-mobile"
          aria-label="Current time"
        >{{ Util.formatTime(currentTime) }}</div>
        <div
          class="plyr__controls__item plyr__time--duration plyr__time hide-on-mobile"
          aria-label="Duration"
        >{{ Util.formatTime(duration) }}</div>
        <div class="plyr__controls__item hide-on-mobile">
          <router-link
            :to="{ name: ROUTE_PLAY_QUEUE }"
            class="plyr__control"
            data-toggle="tooltip"
            data-placement="top"
            title="Play Queue"
          >
            <img style="height: 18px;" alt="Play Queue" src="../assets/play-queue.svg" />
          </router-link>
        </div>
        <div class="plyr__controls__item plyr__volume hide-on-mobile">
          <button
            v-on:click="pushMuteButton()"
            v-bind:class="{'plyr__control--pressed': isMute }"
            type="button"
            class="plyr__control"
            data-plyr="mute"
            style="height: 32px; padding-top: 0px; padding-bottom: 0px;"
          >
            <img class="icon--pressed" style="width: 100%; height: auto;" alt="Muted" src="../assets/icons/muted.svg" />
            <img class="icon--not-pressed" style="width: 100%; height: auto;" alt="Volume" src="../assets/icons/volume.svg" />
          </button>
          <input
            v-bind:value="isMute ? 0 : volume"
            v-on:input="changeVolume($event)"
            data-plyr="volume"
            type="range"
            min="0"
            max="100"
            step="0.01"
            autocomplete="off"
            role="slider"
            aria-label="Volume"
            aria-valuemin="0"
            aria-valuevolumemax="100"
            aria-valuenow="100"
            aria-valuetext="100.0%"
            v-bind:style="{'--value': (isMute ? 0 : volume) + '%' }"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { PlayerState, ITrack } from '@/models';
import { ROUTE_PLAY_QUEUE, ROUTE_ALBUM_DETAIL, ROUTE_ARTIST_DETAIL } from '@/router';
import { Util } from '@/util';

const audio = new Audio();

export default Vue.extend({
  name: 'Player',
  computed: {
    audioSrc() {
      return this.$store.getters['player/audioSrc'];
    },
    isCurrentTrackNull() {
      return this.$store.getters['player/isCurrentTrackNull'];
    },
    trackTitle() {
      return this.$store.getters['player/trackTitle'];
    },
    trackArtists() {
      return this.$store.getters['player/trackArtists'];
    },
    playerState() {
      return this.$store.state.player.playerState;
    },
    isMute() {
      return this.$store.state.player.isMute;
    },
    volume() {
      return this.$store.state.player.volume;
    },
  },
  data() {
    return {
      ROUTE_PLAY_QUEUE,
      ROUTE_ALBUM_DETAIL,
      ROUTE_ARTIST_DETAIL,
      PlayerState,
      progressValue: 0,
      currentTime: 0,
      duration: 0,
      stepInterval: -1,
      Util,
    };
  },
  created() {
    this.$store.subscribe((mutation: any, state: any) => {
      if (mutation.type === 'player/PLAY_TRACK') {
        this.playTrack();
      } else if (mutation.type === 'player/PAUSE_TRACK' &&  this.playerState === PlayerState.Playing) {
        this.playbackPause();
      } else if (mutation.type === 'player/RESUME_PLAY_TRACK') {
        this.pushPlayButton();
      }
    });

    audio.onplay = () => {
      this.stepInterval = setInterval(this.step, 15);
    };

    audio.onended = () => {
      clearInterval(this.stepInterval);
      this.$store.commit('player/SET_PLAYER_STATE', PlayerState.Ended);
      if (!this.$store.getters['play_queue/isQueueEmpty']) {
        const nextTrack: ITrack = this.$store.getters['play_queue/peek'];
        this.$store.commit('play_queue/DEQUEUE');
        this.$store.commit('player/SET_CURRENT_TRACK', nextTrack);
        this.$store.commit('player/PLAY_TRACK');
      }
    };

    audio.onpause = () => {
      clearInterval(this.stepInterval);
      this.$store.commit('player/SET_PLAYER_STATE', PlayerState.Pause);
    };
    audio.volume = Math.round(this.volume) / 100;
  },
  methods: {
    getImgUrl() {
      if (
        this.$store.state.player.currentTrack &&
        this.$store.state.player.currentTrack.album &&
        this.$store.state.player.currentTrack.album.mediaUrl
      ) {
        return this.$store.state.player.currentTrack.album.mediaUrl;
      }
      return this.getDefaultImgUrl();
    },
    getAlbumId() {
      if (
        this.$store.state.player.currentTrack &&
        this.$store.state.player.currentTrack.album &&
        this.$store.state.player.currentTrack.album.id
      ) {
        return this.$store.state.player.currentTrack.album.id;
      }
      return 0;
    },
    getDefaultImgUrl() {
      return require('../assets/icons/compact-disc.svg');
    },
    playTrack() {
      audio.src = this.audioSrc;
      audio.load();
      this.$nextTick(() => {
        audio.play();
      });
    },
    step() {
      this.duration = Math.round(audio.duration);
      const seek = (audio.currentTime as number) || 0;

      const percentage = (seek / audio.duration) * 100 || 0;

      if (!audio.paused) {
        this.progressValue = percentage;
        this.currentTime = Math.round(seek);
        if (this.playerState !== PlayerState.Playing) {
          this.$store.commit('player/SET_PLAYER_STATE', PlayerState.Playing);
        }
      }
    },

    /**
     * Seek to a new position in the currently playing track.
     * @variable  {Number} per Percentage through the song to skip.
     */
    seek(e: Event) {
      const target = e.target as HTMLInputElement;
      this.setAudioCurrentTime(target.valueAsNumber);
    },
    setAudioCurrentTime(pos: number) {
      const per = pos / 100;
      audio.currentTime = audio.duration * per;
      const seek = (audio.currentTime as number) || 0;
      this.progressValue = pos;
      this.currentTime = Math.round(seek);
    },
    changeVolume(e: Event) {
      const target = e.target as HTMLInputElement;
      audio.volume = Math.round(target.valueAsNumber) / 100;
      this.$store.commit('player/SET_VOLUME', target.valueAsNumber);
      this.$store.commit('player/SET_IS_MUTE', target.valueAsNumber === 0);
    },
    pushMuteButton() {
      this.$store.commit('player/SET_IS_MUTE', !this.isMute);
      if (this.isMute) {
        audio.volume = 0;
      } else {
        audio.volume = this.volume / 100;
      }
    },
    playbackPlay() {
      audio.play();
    },
    playbackPause() {
      audio.pause();
    },
    pushPlayButton() {
      if (this.playerState === PlayerState.Pause) {
        this.playbackPlay();
      } else if (this.playerState === PlayerState.Playing) {
        this.playbackPause();
      } else {
        audio.src = this.audioSrc;
        audio.load();
        this.playTrack();
      }
    },
    pushNextTrackPlayButton() {
      this.$store.dispatch('player/PLAY_NEXT_TRACK');
    },
    pushPreviousTrackPlayButton() {
      if (this.currentTime > 5) {
        this.setAudioCurrentTime(0);
      }
    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.plyr--full-ui input[type="range"] {
  color: #ea5791;
}
.plyr--audio .plyr__controls {
  background: #1e1c4b;
  height: 100%;
}

.plyr__control svg {
  fill: white;
}

.plyr__control svg {
  fill: white;
}

.plyr__control:hover {
  background: #ea5791 !important;
  color: #fff;
}

.plyr__time {
  color: #bab6c9;
}

.plyr {
  width: 100%;
  min-width: 0px;
}

.player-img-cover {
  height: 100%;
  padding: 9px;
  max-width: 60px;
  object-fit: cover;
}
.img-container {
  width: 58.6875px;
  height: 100%;
  background: rgb(30, 28, 75);
}
.player-container {
  background: #1e1c4b;
  height: 100%;
}

.title-text {
  font-family: "Roboto Regular", sans-serif;
  color: #ffffff;
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title-text:focus {
  outline: none;
}

.artist-text {
  font-family: "Roboto Regular", sans-serif;
  color: #bbb7c8;
  font-size: 0.92rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 576px) {
  .hide-on-mobile {
    display: none !important;
  }
}
</style>
