<template>
  <div class="bg-purple" id="sidebar-wrapper">
    <div class="sidebar-heading"></div>
    <div class="list-group list-group-flush">
      <router-link
        :to="{ name: ROUTE_DASHBOARD }"
        class="list-group-item list-group-item-action bg-purple menu-font-text"
        v-bind:class="{ 'link-disabled': current_route === ROUTE_DASHBOARD }"
      >
        <font-awesome-icon icon="home" /> Home
      </router-link>
      
      <router-link
        :to="{ name: ROUTE_ALBUM_LIST }"
        class="list-group-item list-group-item-action bg-purple menu-font-text"
        v-bind:class="{ 'link-disabled': current_route === ROUTE_ALBUM_LIST }"
      >
        <font-awesome-icon icon="compact-disc" style="margin-right: 5px;" />Albums
      </router-link>
     
      <router-link
        :to="{ name: ROUTE_ARTIST_LIST }"
        class="list-group-item list-group-item-action bg-purple menu-font-text"
        v-bind:class="{ 'link-disabled': current_route === ROUTE_ARTIST_LIST }"
      >
        <font-awesome-icon icon="user" style="margin-right: 7.203px;" />Artists
      </router-link>

      <router-link
        :to="{ name: ROUTE_GENRE_LIST }"
        class="list-group-item list-group-item-action bg-purple menu-font-text"
        v-bind:class="{ 'link-disabled': current_route === ROUTE_GENRE_LIST }"
      >
        <font-awesome-icon icon="user" style="margin-right: 7.203px;" />Genres
      </router-link>
      
      <router-link
        :to="{ name: ROUTE_UPLOAD_FILES }"
        class="list-group-item list-group-item-action bg-purple menu-font-text"
        v-bind:class="{ 'link-disabled': current_route === ROUTE_UPLOAD_FILES }"
      >
        <font-awesome-icon icon="file-upload" style="margin-right: 9px;" />
          Upload Files
        <font-awesome-icon v-if="uploadQueue.length > 0" icon="circle-notch" spin style="margin-left: 5px;"/>
      </router-link>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import {
  ROUTE_UPLOAD_FILES,
  ROUTE_DASHBOARD,
  ROUTE_ALBUM_LIST,
  ROUTE_ARTIST_LIST,
  ROUTE_GENRE_LIST,
} from '@/router';

import axios from 'axios';
import { general } from '@/api';
import { Util } from '@/util';
import Player from '@/components/Player.vue';
import UploadFile from '@/components/UploadFile.vue';

export default Vue.extend({
  name: 'Sidebar',
  data: () => {
    return {
      ROUTE_UPLOAD_FILES,
      ROUTE_DASHBOARD,
      ROUTE_ALBUM_LIST,
      ROUTE_ARTIST_LIST,
      ROUTE_GENRE_LIST,
    };
  },
  computed: {
    current_route() {
      return this.$route.name;
    },
    uploadQueue() {
      return this.$store.state.upload_queue.uploadQueue;
    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#sidebar-wrapper {
  min-height: calc(100% - 52px);
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.link-disabled {
  pointer-events: none;
  cursor: default;
  color: #ff0095 !important;
}
.menu-font-text {
  color: rgba(255, 255, 255, 1);
  font-family: "Biotif Semi Bold", sans-serif;
  font-size: 1.1em;
  outline: none;
}

.menu-font-text:hover {
  color: #ff0095 !important;
}

.bg-purple {
  background-color: #29175e !important;
}
</style>
