<template>
  <div class="container">
    <div class="pb-2">
      <div class="d-flex justify-content-between">
        <div class="h6" style="color: white;">
          Storage ({{ (usedStoragePercentage * 100).toFixed(2) }}% full) 
        </div>
        <div class="h6" style="color: white;">
          Used {{ usedStorage.toFixed(2) }} GB of {{ storageLimitSize.toFixed(2) }} GB
        </div>
      </div>
      <div class="progress">
        <div 
          class="progress-bar bg-success" 
          role="progressbar" 
          v-bind:style="{'width': Math.trunc(usedStoragePercentage * 100) + '%' }"
          aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <form v-on:submit.prevent="submitForm">
      <div class="form-group">
        <div class="input-group">
          <div class="custom-file">
            <input
              type="file"
              ref="fileFiled"
              v-on:change="handleFileUpload()"
              class="custom-file-input"
              id="inputGroupFile02"
              aria-describedby="inputGroupFileAddon01"
              multiple="multiple"
              accept=".mp3, .flac"
              required
            />
            <label class="custom-file-label" for="inputGroupFile02">{{ fileName }}</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
    <div v-if="uploadQueue.length > 0" style="color: white;">
      Uploading {{ uploadQueue.length }} tracks
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import axios from 'axios';
import { general, accounts } from '@/api';
import { Util } from '@/util';
import { IUploadableFile, UploadableFileStatus } from '@/models';

const uploadQueue: IUploadableFile[] = [];
export default Vue.extend({
  name: 'UploadFile',
  computed: {
    uploadQueue() {
      return this.$store.state.upload_queue.uploadQueue;
    },
  },
  data() {
    return {
      uploadableFiles: [] as IUploadableFile[],
      fileName: 'Choose file',
      storageLimitSize: 0,
      usedStorage: 0,
      usedStoragePercentage: 0,
    };
  },
  created() {
    accounts.getUserDetail().then((user) => {
      this.storageLimitSize = user.storageLimitSize / 1000000000;
      this.usedStorage = user.usedStorage / 1000000000;
      this.usedStoragePercentage = this.usedStorage / this.storageLimitSize;
    });
  },
  methods: {
    submitForm() {
      this.$store.commit('upload_queue/SET_UPLOAD_QUEUE', this.uploadableFiles);
      this.$store.dispatch('upload_queue/UPLOAD_FILES');
    },
    handleFileUpload() {
      const files: FileList = (this.$refs.fileFiled as any).files;
      this.uploadableFiles = [];
      for (const file of files) {
        this.uploadableFiles.push({
          tempUUID: Util.uuidv4(),
          file,
          status: UploadableFileStatus.Ready,
        });
      }
    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
