<template>
  <div>
    <div class="d-flex flex-row">
      <div class="image-container">
        <img :src="getImgUrl()" ref="imageField" class="cover-img"/>
      </div>
      <div>
        <strong class="h2" style="color: white;">{{album.title}}</strong>
      </div>
    </div>
    <TrackTable :tracks="album.tracks"/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import TrackTable from '@/components/tables/TrackTable.vue';
import { IAlbumDetail, GenNullAlbumBase, ITrack } from '@/models';
import { general } from '@/api';
import { Util } from '@/util';

export default Vue.extend({
  name: 'AlbumDetail',
  components: {
    TrackTable,
  },
  data: () => {
    return {
      album: GenNullAlbumBase(),
    };
  },
  created() {
    const albumId = parseInt(this.$route.params.albumId, 10);
    general.getAlbum(albumId).then((album: IAlbumDetail) => {
      this.album = album;
    });
    this.$store.subscribe((mutation: any, state: any) => {
      if (mutation.type === 'player/PLAY_TRACK' && this.$store.getters['play_queue/isQueueEmpty']) {
        const index = this.album.tracks.findIndex((t: ITrack) => t.id === this.$store.state.player.currentTrack.id);
        this.$store.commit('play_queue/SET_TRACK_QUEUE',  this.album.tracks.slice(index + 1));
      }
    });
  },
  methods: {
    getImgUrl() {
      if (this.album.mediaUrl === '') {
        return this.album.mediaUrl;
      }
      return this.album.mediaUrl ? this.album.mediaUrl : Util.getDefaultCoverImgUrl();
    },
  },
});
</script>



<style lang="scss">
.image-container{
  height: calc(100vw * 0.4); 
  max-height: 190px;
  max-width: 190px;
}

.cover-img{
  height: 100%;
  max-width: 190px;
  object-fit: cover;
}
</style>