<template>
  <div>
    <div class="h5" style="font-weight: bold;">Albums</div>
    <AlbumCardList :albums="albums" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { general } from '@/api';
import AlbumCardList from '@/components/AlbumCardList.vue';
import { ITrack } from '../../models';

export default Vue.extend({
  name: 'AlbumList',
  components: {
     AlbumCardList,
  },
  data() {
    return {
      albums: [],
    };
  },
  created() {
    general.getAlbums().then((albums) => {
      this.albums = albums;
    });
    // this.$store.subscribe((mutation: any, state: any) => {
    //   if (mutation.type === 'player/PLAY_TRACK' && this.$store.getters['play_queue/isQueueEmpty']) {
    //     const index = this.tracks.findIndex((t: ITrack) => t.id === this.$store.state.player.currentTrack.id);
    //     this.$store.commit('play_queue/SET_TRACK_QUEUE',  this.tracks.slice(index + 1));
    //   }
    // });
  },
});
</script>

<style lang="scss">
.cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 1rem;
}

@media (max-width: 768px) {
  .cards-container{
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr)) !important; 
  }
}
</style>