<template>
  <div>
    <div class="h5" style="font-weight: bold;">{{ artist.name }}</div>
    <AlbumCardList :albums="albums" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { general } from '@/api';
import AlbumCardList from '@/components/AlbumCardList.vue';
import { ITrack, IArtist, GenNullArtist } from '../../models';

export default Vue.extend({
  name: 'ArtistDetail',
  components: {
     AlbumCardList,
  },
  data() {
    return {
      albums: [],
      artist: GenNullArtist(),
    };
  },
  created() {
    const artistId = parseInt(this.$route.params.artistId, 10);
    general.getAlbumsByArtistId(artistId).then((albums) => {
      this.albums = albums;
    });
    general.getArtist(artistId).then((artist: IArtist) => {
      this.artist = artist;
    });
  },
});
</script>

<style lang="scss">
.cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 1rem;
}

@media (max-width: 768px) {
  .cards-container{
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr)) !important; 
  }
}


</style>