<template>
  <div>
    <div class="h5" style="font-weight: bold;">Artists</div>
    <div class="cards-container">
      <ArtistCard v-for="artist in artists" :key="artist.id" :artist="artist" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { general } from '@/api';
import AlbumCardList from '@/components/AlbumCardList.vue';
import { ITrack } from '../../models';

export default Vue.extend({
  name: 'ArtistList',
  components: {
    AlbumCardList,
  },
  data() {
    return {
      artists: [],
    };
  },
  created() {
    general.getArtists().then((artists) => {
      this.artists = artists;
    });
  },
});
</script>

<style lang="scss">
</style>