<template>
  <div>
    <div class="h5" style="font-weight: bold;">Recently added</div>
    <AlbumCardList :albums="albums"/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import axios from 'axios';
import { general } from '@/api';
import TrackRow from '@/components/tables/TrackRow.vue';
import TrackTable from '@/components/tables/TrackTable.vue';
import UploadFile from '@/components/UploadFile.vue';
import AlbumCardList from '@/components/AlbumCardList.vue';
import { ITrack } from '../../models';

export default Vue.extend({
  name: 'Dashboard',
  components: {
    TrackRow,
    TrackTable,
    AlbumCardList,
  },
  data() {
    return {
      albums: [],
    };
  },
  created() {
    general.getAlbumsLatest().then((albums) => {
      this.albums = albums;
    });
  },
});
</script>

<style lang="scss">
.msg_history {
  height: 100%;
  overflow-y: auto;
  background: #f7f9fa;
}

.type_msg {
  position: relative;
  height: 50px;
  background: rgba(235, 235, 235, 1);
}

.msg_send_btn {
  background: rgba(11, 163, 96, 1) none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  width: 33px;
  margin-bottom: 4px;
  margin-right: 4px;
  margin-left: 4px;
}
</style>