<template>
  <div>
    <div class="h5" style="font-weight: bold;">{{ genre.name }}</div>
    <AlbumCardList :albums="albums" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { general } from '@/api';
import AlbumCardList from '@/components/AlbumCardList.vue';
import { ITrack, GenNullGenre, IGenre } from '../../models';

export default Vue.extend({
  name: 'GenreDetail',
  components: {
     AlbumCardList,
  },
  data() {
    return {
      albums: [],
      genre: GenNullGenre(),
    };
  },
  created() {
    const genreId = parseInt(this.$route.params.genreId, 10);
    general.getAlbumsByGenreId(genreId).then((albums) => {
      this.albums = albums;
    });
    general.getGenre(genreId).then((genre: IGenre) => {
      this.genre = genre;
    });
  },
});
</script>

<style lang="scss">
.cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 1rem;
}

@media (max-width: 768px) {
  .cards-container{
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr)) !important; 
  }
}


</style>