<template>
  <div>
    <div class="h5" style="font-weight: bold;">Genres</div>
    <div class="cards-container">
      <GenreCard v-for="genre in genres" :key="genre.id" :genre="genre" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { general } from '@/api';
import GenreCard from '@/components/GenreCard.vue';
import { ITrack, IGenreWithAlbumsAndArtistsCounts } from '../../models';

export default Vue.extend({
  name: 'GenreList',
  components: {
     GenreCard,
  },
  data() {
    return {
      genres: [],
    };
  },
  created() {
    general.getGenres().then((genres) => {
      this.genres = genres;
    });
  },
});
</script>

<style lang="scss">
</style>