<template>
  <div> 
    <div class="h5" style="font-weight: bold;">Recently added</div>
    <div v-if="currentTrack" style="color: white;">
      Now Playing
      <TrackTable :tracks="[currentTrack]" />
    </div>

    <div v-if="tracks && tracks.length > 0" style="color: white;">
      Next Up
      <TrackTable :tracks="tracks" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import axios from 'axios';
import { general } from '@/api';
import TrackTable from '@/components/tables/TrackTable.vue';
import UploadFile from '@/components/UploadFile.vue';
import { ITrack } from '../../models';

export default Vue.extend({
  name: 'Dashboard',
  components: {
    TrackTable,
  },
  computed: {
    tracks() {
      return this.$store.state.play_queue.trackQueue;
    },
    currentTrack() {
      return this.$store.state.player.currentTrack;
    },
  },
});
</script>

<style lang="scss">
.contact-header {
  border-bottom: 1px solid #c4c4c4 !important;
  color: #4c4c4c;
  width: 100%;
  height: 50px;
}

.recipient {
  margin-left: 0.5rem;
  margin-bottom: 0px !important;
}

// -------------------

.msg_history {
  height: 100%;
  overflow-y: auto;
  background: #f7f9fa;
}

.type_msg {
  position: relative;
  height: 50px;
  background: rgba(235, 235, 235, 1);
}

.msg_send_btn {
  background: rgba(11, 163, 96, 1) none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  width: 33px;
  margin-bottom: 4px;
  margin-right: 4px;
  margin-left: 4px;
}
/// --------

</style>