<template>
  <div> 
    <UploadFile/>
  </div>
</template>

<script>
import UploadFile from '@/components/UploadFile.vue';

export default {
  name: 'UploadFiles',
  components: {
    UploadFile,
  },
};
</script>

<style lang="scss">
</style>