<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
@import "@/variables.scss";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-font-color;
  background: $primary-background;
}

html {
  background: $primary-background;
}
</style>
