@font-face {
  font-family: "Coolvetica Regular";
  src: url('./assets/fonts/coolvetica-regular.ttf');
}

$coolvetica-regular: 'Coolvetica Regular',
sans-serif;


@font-face {
  font-family: "Biotif Semi Bold";
  src: url('./assets/fonts/biotif-semi-bold.ttf');
}

$biotif-semi-bold: 'Biotif Semi Bold',
sans-serif;


@font-face {
  font-family: "Biotif Regular";
  src: url('./assets/fonts/biotif-regular.ttf');
}

$biotif-regular: 'Biotif Regular',
sans-serif;


@font-face {
  font-family: "Biotif Medium";
  src: url('./assets/fonts/biotif-medium.ttf');
}

$biotif-medium: 'Biotif Medium',
sans-serif;

@font-face {
  font-family: "Roboto Regular";
  src: url('./assets/fonts/roboto-regular.ttf');
}

$roboto-regular: 'Roboto Regular',
sans-serif;